.head-main-container {
    background-color: #000000;
    height: calc(100vh - 90px);
}

.head-container {
    display: flex;
    width: 100%;
    height: 80%;
}

.headline-container {
    width: 50%;
    height: 100%;
    padding-left: 100px;

    h1 {
        font-size: 64px;
        color: white;
    }

    button {
        border: 1px solid #2dfcd8;
        background-color: #000000;
        color: #2dfcd8;
        width: 200px;
        height: 60px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #2dfcd8;
        }
    }
}

.profil-img-container {
    width: 50%;
    height: 100%;
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        object-fit: contain;
        height: 400px;
        width: 400px;
        background-color: #fa2759;
        border-radius: 100%;
    }
}

.arrow-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}