<div class="head-main-container">
    <div class="head-container">
        <div class="headline-container">
            <h1>
                Hi, <br>
                I`m Dietrich Richter <br>
                Front End developer
            </h1>
            <button>Contact me</button>
        </div>
        <div class="profil-img-container">
            <img src="../../assets/img/profilbild.png">
        </div>
    </div>
    <div class="arrow-container">
        <img src="../../assets/img/arrow-down.png">
    </div>
</div>