.footer-main-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.data-container {
    color: lightgray;

    a {
        text-decoration: none;
        color: lightgray;

        &:hover {
            color: black;
        }
    }
}

.icons-container {

    img {
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin-left: 80px;
    }
}

@media (max-width:770px) {
    .footer-main-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .icons-container {
        img {
            margin: 40px;
        }
    }
}

@media (max-width:400px) {
    .icons-container {
        img {
            margin: 5px;
        }
    }

    .footer-main-container {
        height: 100px;
    }
}