<div class="footer-main-container">
    <div class="data-container">
        <a routerLink="/imprint">Imprint</a> - <a href="#">Leagal Notice</a>
    </div>
    <div class="icons-container">
        <a href="https://github.com/DietrichRichter"><img src="../../assets/img/github-fill.png"></a>
        <a href="https://www.xing.com/profile/Dietrich_Richter22/cv"><img src="../../assets/img/xing-fill.png"></a>
        <a href="https://www.linkedin.com/in/dietrich-richter-7bb711252/"><img src="../../assets/img/linkedin-box-fill.png"></a>
    </div>
</div>
