<div class="footer-main-container">
    <div class="data-container">
        <a routerLink="/imprint">Imprint</a> - <a routerLink="/legale-notice">Legal Notice</a>
    </div>
    <div class="icons-container">
        <a href="https://github.com/DietrichRichter" target="_blank"><img src="assets/img/github-fill.png"></a>
        <a href="https://www.xing.com/profile/Dietrich_Richter5/cv" target="_blank"><img src="assets/img/xing-fill.png"></a>
        <a href="https://www.linkedin.com/in/dietrich-richter-976437258/" target="_blank"><img src="assets/img/linkedin-box-fill.png"></a>
    </div>
</div>
