<div class="about-me-main-container" id="about-me-container">
    <div class="about-me-container">
        <div class="image">
            <img src="../../assets/img/profilbild.png">
        </div>
        <div class="about-me-text">
            <h2>About me.</h2>
            <p>text</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="icon-main-container">
        <div *ngFor="let a of aboutMe" class="icon-container">
            <div class="img-container">
                <img src="{{a.icon}}">
            </div>
            <h3>{{a.headline}}</h3>
            <p>{{a.text}}</p>
        </div>
    </div>
</div>