<nav>
    <div>
        <a routerLink="/"><img class="logo" src="assets/img/logo.png"></a>
    </div>
    <div class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="list-container">
        <ul>
            <li><a routerLink="/">HOME</a></li>
            <li><a href="#my-skills">MY SKILLS</a></li>
            <li><a href="#my-work-container">PORTFOLIO</a></li>
            <li><a href="#about-me-container">ABOUT</a></li>
        </ul>
    </div>
</nav>