.my-work-container {
    background-color: #000000;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        margin: 0;
        font-size: 36px;
        padding-bottom: 70px;
        padding-top: 70px;
    }

    button {
        margin: 2px;
        background-color: #000000;
        color: white;
        width: 100px;
        height: 50px;
        border: 1px solid #fa2759;
        cursor: pointer;

        &:hover {
            background-color: #fa2759;
        }
    }
}

.work-portfolio {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 10px;
}

.try-buttons {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #fa2759;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    button {
        width: 200px;
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    h3 {
        font-size: 40px;
        margin: 0;
    }

    &:hover {
        opacity: 1;
        border: 3px solid #fa2759;
        margin: 7px;
        backdrop-filter: blur(5px);
    }
}

.image-container {
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 400px;
        height: 300px;
        object-fit: contain;
        margin: 10px;
        cursor: pointer;
    }
}

@media (max-width: 550px) {
    .my-work-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .image-container {
        img {
            width: 100%;
            height: 100%;
            margin: 0;

            &:hover {
                margin: 0;
                border: 1px solid #fa2759;
            }
        }
    }

    .work-portfolio {
        width: 100%;
    }

    .try-buttons {
        &:hover {
            margin: 0;
        }
    }
}

@media (max-width: 400px) {
    .my-work-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 340px) {
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        img {
            width: 100%;
            height: 100%;
            margin: 0;

            &:hover {
                margin: 0;
                border: 1px solid #fa2759;
            }
        }
    }
}