<div class="my-work-container" id="my-work-container">
    <div>
        <h2 data-aos="flip-up">My Work</h2>
    </div>
    <div data-aos="flip-up" class="buttons">
        <button (click)="showAllWorks()">All</button>
        <button (click)="showAngularWork()">Angular</button>
        <button (click)="showJavaScriptWork()">Java Script</button>
    </div>
    <div class="image-container">
        <div data-aos="flip-up" *ngFor="let w of myWork" class="work-portfolio" id="{{w.workID}}">
            <img src="{{w.img}}">
            <div class="try-buttons">
                <h3>{{w.headline}}</h3>
                <p>{{w.description}}</p>
                <a href="{{w.tryLink}}" target="_blank"><button>Try Out</button></a>
                <a href="{{w.githubLink}}" target="_blank"><button>Github</button></a>
            </div>
        </div>
    </div>
</div>