<div class="my-work-container" id="my-work-container">
    <div>
        <h2>My Work</h2>
    </div>
    <div class="buttons">
        <button>All</button>
        <button>Angular</button>
        <button>Java Script</button>
    </div>
    <div class="image-container">
        <div>
            <img src="../../assets/img/work1.jpg">
        </div>
        <div>
            <img src="../../assets/img/work1.jpg">
        </div>
        <div>
            <img src="../../assets/img/work1.jpg">
        </div>
        <div>
            <img src="../../assets/img/work1.jpg">
        </div>
        <div>
            <img src="../../assets/img/work1.jpg">
        </div>
    </div>
</div>