<div class="my-work-container" id="my-work-container">
    <div>
        <h2>My Work</h2>
    </div>
    <div class="buttons">
        <button (click)="showAllWorks()">All</button>
        <button (click)="showAngularWork()">Angular</button>
        <button (click)="showJavaScriptWork()">Java Script</button>
    </div>
    <div class="image-container">
        <div id="work-portfolio">
            <img src="../../assets/img/work-portfolio.png">
        </div>
        <div id="work-ell-pollo-loco">
            <a href="http://dietrich-richter.com/El_pollo_loco/index.html" target="_blank"><img src="../../assets/img/startscreen_1.png"></a>
        </div>
        <div id="work-join">
            <a href="http://dietrich-richter.com/JOIN/welcome.html" target="_blank"><img src="../../assets/img/work.join.png"></a>
        </div>
    </div>
</div>