<div class="contact-main-container" id="contact-me-container">
    <div class="contact-container">
        <div data-aos="fade-right" class="headline">
            <h1>Contact me.</h1>
            <p>Get in touch via the form below, or by emailing <a href="mailto:dietrichrichter@gmx.de"><span>dietrichrichter@gmx.de</span></a></p>
        </div>
        <div class="contact">
            <form action="http://dietrich-richter.com/send_mail/send_mail.php" method="POST" data-aos="fade-right">
                <p>Name</p>
                <input name="name" placeholder="Enter your name" type="text">
                <p>Email address</p>
                <input name="email" placeholder="Enter your Email address" type="email">
                <p>Message</p>
                <textarea name="message" placeholder="Enter your message"></textarea>
                <div class="button">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>