<div class="contact-main-container">
    <div class="contact-container">
        <div class="headline">
            <h1>Contact me.</h1>
            <p>Get in touch via the form below, or by emailing <span>dietrichrichter@gmx.de</span></p>
        </div>
        <div class="contact">
            <form>
                <p>Name</p>
                <input placeholder="Enter your name" type="text">
                <p>Email address</p>
                <input placeholder="Enter your Email address" type="text">
                <p>Message</p>
                <textarea placeholder="Enter your message" cols="30" rows="10"></textarea>
            </form>
        </div>
        <div class="button">
            <button>Send</button>
        </div>
    </div>
</div>