<div class="skills-background-container" id="my-skills">
    <div>
        <h2 data-aos="flip-up">My Skills</h2>
    </div>
    <div class="all-skills-container">
        <div data-aos="flip-up" *ngFor="let s of skills" class="skills-main-container">
            <div class="skills-container">
                <div class="skills-img">
                    <img src="{{s.icon}}">
                </div>
                <div class="skill">
                    <p>{{s.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>