<div class="imprint-container">
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p><br>Dietrich Richter</p>
    <h3>Postanschrift:</h3>
    <p>Schwaneburger Straße 19<br>26169 Friesoythe<br></p>
    <h3>Kontakt:</h3>
    <p>Telefon: +49 15154870236<br>E-Mail: dietrichrichter@gmx.de</p>
    <p></p>
    <p><br></p>
    <p></p>
    <h2>Hinweise zur Website</h2>
    <p></p>
    <p><em>Das Impressum wurde mit dem <a
                href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind
                AG</a> erstellt.</em></p>
</div>